NEXT_PUBLIC_API_BASE=http://localhost:8000/api
NEXT_PUBLIC_STAFF_PAYROLL_APP_URL=https://staff.hiddenoasis.app
NEXT_PUBLIC_POS_APP_URL=https://pos.hiddenoasis.app
NEXT_PUBLIC_ACCOUNTING_APP_URL=https://hiddenoasis.app
